<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Item</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table thead th {
            font-size: 20px;
        }

        table tbody td {
            font-size: 24px;
        }

        table tbody td.td_stock_name {
            color: black;
            text-align: center;
        }

        table tbody td.td_over_buy {
            color: red;
        }
    </style>

</head>

<body>

    <table>
        <thead>
            <tr>
                <th style="background-color: #1a73e8; color: white;" colspan="3">
                    12/12 外資買超
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td class="td_stock_name">2603長榮</td>
                <td class="td_over_buy">33066 張</td>
            </tr>
            <tr>
                <td>2.</td>
                <td class="td_stock_name">2603長榮</td>
                <td class="td_over_buy">33066 張</td>
            </tr>
        </tbody>
    </table>

</body>

</html>